:root {
	--font-family: 'Helvetica Neue', 'Arial', sans-serif;
	--font-size: 16px;
	--primary-accent: #bf5700;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	max-width: 50rem;
	margin: 0 auto;
	padding: 1rem;
}

nav {
	margin: 1rem 0;
}

label {
	margin: 0 0 0.5rem 0;
}

button {
	height: 2.5rem;
	font-size: var(--font-size);
	color: white;
	background-color: var(--primary-accent);
	border: none;
}

input {
	font-family: var(--font-family);
	font-size: var(--font-size);
	height: 2.5rem;
	padding-left: 0.5rem;
	margin-bottom: 1rem;
	border: 2px solid gray;
}

textarea {
	font-family: var(--font-family);
	font-size: var(--font-size);
	padding: 1rem;
	resize: none;
	border: 2px solid gray;
}

a {
	color: var(--primary-accent);
}

::selection {
	background: var(--primary-accent);
	color: white;
}
