@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

:root {
	--font-family: 'Geologica', 'Helvetica Neue', 'Arial', sans-serif;
	--font-size: 16px;
	--primary-accent: #e1563f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Zen Dots', 'ruddy', sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}

html {
	box-sizing: border-box;
	overflow-y: scroll; /* prevent scrollbar from shifting layout */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	margin: 0 auto;
	overflow-wrap: anywhere;
}

nav {
	margin: 1rem 0;
}

button {
	font-family: var(--font-family);
	height: 2.5rem;
	font-size: var(--font-size);
	color: white;
	background-color: var(--primary-accent);
	border: none;
	transition: all 0.1s ease-in-out;
}

button:not(:disabled):hover {
	cursor: pointer;
	opacity: 90%;
}

button:not(:disabled):active {
	scale: 0.99;
}

button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

input {
	font-family: var(--font-family);
	font-size: var(--font-size);
	height: 2.5rem;
	padding-left: 0.5rem;
	border: 2px solid gray;
}

input[type='checkbox'],
input[type='radio'] {
	height: 1.5rem;
	min-height: 1.5rem;
	width: 1.5rem;
	min-width: 1.5rem;
	margin: 0;
	margin-right: 1rem;
}

textarea {
	font-family: var(--font-family);
	font-size: var(--font-size);
	padding: 1rem;
	resize: vertical;
	border: 2px solid gray;
	height: 10rem;
}

form {
	display: flex;
	flex-direction: column;
}

a {
	color: var(--primary-accent);
}

::selection {
	background: var(--primary-accent);
	color: white;
}

fieldset {
	padding: 1rem;
}

select {
	font-family: var(--font-family);
	font-size: var(--font-size);
	height: 2.5rem;
	padding-left: 0.5rem;
	border: 2px solid gray;
	/* for some reason overflowing text causes horizontal scrolling */
	overflow: hidden;
	text-overflow: ellipsis;
}

input[type='file'] {
	padding-left: 0;
	width: 100%; /* needed to prevent horizontal scrolling on iPhone 8 */
}

::file-selector-button {
	padding: 0 1rem;
	margin-right: 1rem;
	height: 100%;
	font-size: var(--font-size);
	color: white;
	background-color: var(--primary-accent);
	border: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 0.5rem;
	text-align: left;
	border: 2px solid black;
}

pre {
	overflow: auto;
	background-color: #eee;
	padding: 0.5rem 1rem;
}

code {
	background-color: #eee;
}

blockquote {
	margin: 0;
	padding-left: 1rem;
	border-left: 4px solid black;
}

dialog {
	min-width: 20rem;
	max-width: 40rem;
	padding: 0 1rem;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 1);
}

dialog div {
	display: flex;
	flex-direction: row-reverse;
	gap: 1rem;
}

dialog button {
	padding: 0 1rem;
	margin-bottom: 1rem;
}

/* .main-content {
	max-width: 50rem;
	margin: 0 auto;
	padding: 0 1rem;
} */

@media (max-width: 450px) {
	dialog {
		margin-block-end: 0;
		width: 100%;
	}

	dialog div {
		flex-direction: column-reverse;
		gap: 0;
	}
}

dialog::backdrop {
	backdrop-filter: blur(1px) brightness(0.75);
}

img {
	max-width: 100%;
}

footer {
	padding: 0 1rem;
	left: 0;
	bottom: 0;
	max-width: 50rem;
	text-align: center;
	margin: 0 auto;
}
